// Primary colors
$white: #fff;
$black: #000;

$grey-vivid-400: hsl(0, 0%, 42.75%);
$grey-vivid-500: hsl(0, 0%, 33.73%);
$grey-vivid-900: hsl(0, 0%, 20.39%);

// Neutrals
$grey-050: hsl(180, 7.32%, 83.92%);
$grey-100: hsl(175, 8.33%, 71.76%);
$grey-200: hsl(168, 8.2%, 88.04%);
$grey-400: hsl(173.68, 8.44%, 55.88%);
$grey-500: hsl(174, 8.13%, 51.76%);
$grey-600: hsl(173.68, 8.52%, 43.73%);
$grey-700: hsl(176, 8.29%, 35.49%);
$grey-900: hsl(175, 8.57%, 27.45%);

// Supporting
$red-200: hsl(360, 77%, 78%);
$red-300: hsl(360, 71%, 66%);
$red-400: hsl(360, 64%, 55%);

$border-radius: 4px;
